.bg-tree {
  left: 0;
  bottom: 0;
  position: absolute;
}

.bg-mask {
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  position: absolute;
}

.bg-tree-3 {
  right: 0;
  bottom: 0;
  position: absolute;
}
